*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#pageHeader {
    min-height: 50px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;   
    align-items: center;
}
#profile{
    color: white;
}
ul li{
    display: inline;
    padding: 50px;
    color: gray;
    font-size: 1.2em;
}
#sign-out{
    margin-left: 50px;
    background-color: teal;
    padding: 10px;
    margin-left: 160px;

}
.wrap {
    padding: 30px;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    min-height: 100px;
    
}
.col1 {
    width: 600px;
    
}
.col2 {
    width: 250px;
    
    margin-left: 30px;
}
.sizing {
    border-radius:50%;
    width: 50px;
}
.accept-decline {
    
    border: transparent;
    background-color: transparent;
}
button img {
    width: 30px;
}
.requests{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
.request-contain{
    border: 3px solid lightgray;
    margin-bottom: 30px;
}
.head{
    background-color: gray;
    height: 50px;
    display: flex;
    align-items: center
}
#head-request{
    justify-content: space-evenly;
}
#cir2 {
    background-color: lightgray;
    width: 30px;
    border-radius: 50%;
    border: transparent;
    font-size: 1.2em;
}
#yourConnections{
    border: 3px solid lightgray;
}
#connectHead{
    display: flex;
    justify-content: space-evenly;
}
#oval500{
    width: 50px;
    border-radius: 50%;
    font-size: 1.1em;
    background-color: lightgray;
    border: transparent;
}
.connections{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}
#footer{
    display: flex;
    height: 50px;
    align-items: center;
    border-top: lightgray 3px solid;
}
#viewMore{
    margin-left: 50px;
    color: blue;
}
#container{
    min-height: 400px;
    border: 3px solid lightgray;
    margin-bottom: 30px;
}
#user-head{
    height: 100px;
    background-color: teal;
}
#user-pic{
    width: 20%;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    left: 30px;
    border: white 3px solid;
}
#name{
    position: relative;
    bottom: 60px;
    left: 40px;
}
.location{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 40px;
    left: 40px;
}
#location{
    width: 20px;
    margin-right: 10px;
}
.about{
    position: relative;
    bottom: 20px;
    left: 40px;
}
#cog{
    margin-top: 30px;
    width: 20px;
}
#edit{
    color: blue;
    margin-left: 10px;
}
#edPage{
    border: lightgray solid 3px;
    min-height: 300px;
}
h2{
    color: white;
    margin-left: 30px;
}
#school{
    margin: 30px;
}
#date{
    margin-left: 30px;
}
#belt{
    margin: 30px;
}
